/* style.css */
/* main */
body {
  background-color: #002833;
  font-family: 'Roboto Mono', monospace;
  padding: 15px 15px 0;
  font-size: 10px;
}

@media (min-width: 768px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 14px;
  }
}

/* command line styles */
.command {
  padding-top: 15px;
}

.command p span {
  display: inline-block;
}

.path {
  background-color: #BA55D3;
  padding: 0 5px 0 3px;
}

.git {
  background-color: #1964A5;
  padding-left: 5px;
  padding-right: 3px;
}

.path,
.git {
  color: white;
}

.instruction {
  color: #ABCD7E;
  padding: 0 10px;
}

.filename {
  color: #839496;
}

/* result of the command-line styles */
.result {
  color: #839496;
}

table.listing {
  margin-bottom: 10px;
}

table.listing td {
  padding: 5px 10px 0 0;
  text-align: right;
}

table.listing td.directory {
  color: #00BFFF;
  text-align: left;
}

a,
p.highlight {
  color: white;
}

a:hover,
a:focus {
  color: #DCB059;
  text-decoration: none;
}
